body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: underline;
    color: #545bff;
    cursor: pointer;
}

.tablasHorarios {
    overflow-y: hidden;
    transition: height 300ms ease-out;
    height: auto;
    padding: 5px;
}

#nav-bar {
    padding: 20px;
    font-size: x-large;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    text-align: center;
    background: #64001d;
    color: #FFFFFF;
    margin: 0;
    box-shadow: 0 3px 5px gray;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    border-radius: 2px;
    box-shadow: 2px 2px 2px lightgray;
    padding: 15px;
    background-color: #FFFFFF;
}

.expandOccultButton {
    display: inline-block;
    cursor: pointer;
    float: right
}

.descanso {
    background-color: lightgreen;
}

table {
    width: 100%;
}

table tr, table tr td {
    text-align: center;
    padding: 3px;
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table.stripedD > tbody > tr:nth-child(odd) {
    background-color: #353c44;
}

table.striped > tbody > tr > td {
    transition: background-color 150ms, color 150ms;
    border-radius: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    cursor: default;
    text-align: left;
    color: black;
}

.dropdown:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.botonAdd {
    cursor: pointer;
    display: inline-block;
    color: #33F;
}

.botonAdd:hover {
    text-decoration: underline;
}

.cursoDataDiv {
    padding: 10px;
    display: inline-block
}

table > tbody > tr.trDescansoLight > td {
    background-color: #e4ffed
}

table > tbody > tr.trDescansoDark > td {
    background-color: #48544c
}

.nombreCursoTeoriaLight {
    color: blue;
}

.nombreCursoTeoriaDark {
    color: #82aaff;
}

.nombreCursoLabLight {
    color: #ff563c
}

.nombreCursoLabDark {
    color: #f07178
}

.descrCurso--Light--On {
    color: black;
}

.descrCurso--Light--Off {
    color: #ababab;
}

.descrCurso--Dark--On {
    color: #ababab;
}

.descrCurso--Dark--Off {
    color: #656d78;
}

.descrCurso--Light--OK {

}

.descrCurso--Dark--OK {
    color: #93e78c;
}
